/* Navbar CSS */
.navbar-nav .nav-link {
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  padding: 0.75em 1.25em;
}

.navbar-nav .nav-item {
    margin-right: 1.5em;
    margin-left: 1.5em;
}