body {
    background-color: #233044;
    color: #e6edf3;
}

/* Navbar CSS */
.navbar-nav .nav-link {
    font-weight: 600;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    padding: 0.75em 1.25em;
}

.navbar-nav .nav-item {
    margin-right: 1.5em;
    margin-left: 1.5em;
}

.navbar-nav .nav-link.active {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
}

.navbar-bottom {
    border-bottom: 0.5px solid rgb(255, 221, 49);
}

.gradient-text {
    background: linear-gradient(90deg, #7cf6ff, #8b5cf6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Banner section */
.banner-section {
    background-image:
        linear-gradient(to bottom,
            rgba(20, 30, 50, 0.85) 0%,
            rgba(20, 30, 50, 0.85) 60%,
            rgba(20, 30, 50, 1) 100%),
        url("../images/07-lol-ryze.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-badge {
    border-radius: 800px;
    padding: 0.55rem 1.05rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    background: linear-gradient(90deg, #ceba52, #c5882c);
}

.banner-section p {
    margin-top: 1.25rem;
    font-size: 1.2rem;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0, 0.7)
}

.banner {
    font-size: 4.7rem;
    line-height: 0.95;
    font-weight: 800;
    margin-top: 5px;
    text-shadow: 0 0 2.5px #ffff00;
}

.banner-section .btn {
    margin-top: 1.5rem;
    padding: 1em 1.5em;
    font-weight: 800;
    letter-spacing: 0.05em;
    border: none;
    background: linear-gradient(90deg, #444fe3 0%, #cf2feb 70%, #60a5fa 100%);
}

.banner-section .btn:hover {
    filter: brightness(1.05);
    box-shadow:
        0 14px 32px rgba(0, 0, 0, 0.45),
        0 0 22px rgba(34, 211, 238, 0.30),
        0 0 44px rgba(139, 92, 246, 0.22);
}

.banner-section img {
    border-radius: 1rem;
    box-shadow: 0 20px 10px -5px rgba(0, 0, 0, 0.4);
}