body {
    background-color: #151e34;
    color: #e6edf3;
}

/* ===== index.html (main page) ===== */
/* Navbar CSS */
.navbar-nav .nav-link {
    font-weight: 600;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    padding: 0.75em 1.25em;
}

.navbar-nav .nav-item {
    margin-right: 1.5em;
    margin-left: 1.5em;
}

.navbar-nav .nav-link.active {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
}

.navbar-bottom {
    border-bottom: 0.5px solid rgb(255, 221, 49);
}

.gradient-text {
    background: linear-gradient(90deg, #7cf6ff, #8b5cf6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Footer CSS */
footer a:hover {
    color: rgb(203, 200, 200) !important;
}

/* Banner Section */
.banner-section {
    background-image:
        linear-gradient(to bottom,
            rgba(20, 30, 50, 0.85) 0%,
            rgba(20, 30, 50, 0.85) 60%,
            rgba(20, 30, 50, 1) 100%),
        url("../images/07-lol-ryze.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.banner-badge {
    border-radius: 800px;
    padding: 0.55rem 1.05rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    background: linear-gradient(90deg, #ceba52, #c5882c);
}

.banner-section p {
    margin-top: 1.25rem;
    font-size: 1.2rem;
    line-height: 1.7;
    color: white;
}

.banner-section h1 {
    font-size: 4.7rem;
    line-height: 0.95;
    font-weight: 800;
    margin-top: 5px;
    text-shadow: 0 0 2.5px #ffff00;
}

.banner-section .btn {
    margin-top: 1.5rem;
    padding: 1em 1.5em;
    font-weight: 800;
    letter-spacing: 0.05em;
    border: none;
    background: linear-gradient(90deg, #444fe3 0%, #cf2feb 70%, #60a5fa 100%);
}

.banner-section .btn:hover {
    filter: brightness(1.05);
    box-shadow:
        0 14px 32px rgba(0, 0, 0, 0.45),
        0 0 22px rgba(34, 211, 238, 0.30),
        0 0 44px rgba(139, 92, 246, 0.22);
}

.banner-section img {
    border-radius: 1rem;
    box-shadow: 0 20px 10px -5px rgba(0, 0, 0, 0.4);
}

/* Teams Section */
.teams-section {
    background-color: #0f172a;
}

.teams-section h2,
.champs-section h2,
.items-section h2,
.builds-section h2 {
    font-size: 4.5rem;
    color: #fefae4;
    line-height: 0.95;
    font-weight: 700;
    margin-top: 4rem;
    letter-spacing: 0.02em;
}

.teams-section p,
.champs-section p,
.items-section p,
.builds-section p {
    margin-top: 1.25rem;
    font-size: 1.15rem;
    line-height: 1.7;
    color: white;
    margin-bottom: 1.5em;
}

/* Team Card CSS */
.team-card,
.champ-card {
    background: #2f425b;
    border: 1px solid rgba(216, 214, 214, 0.372);
    border-radius: 14px;
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.25);
}

.team-card-link:hover,
.team-card-link {
    text-decoration: none;
}

.team-card:hover {
    border: 1.3px solid rgba(243, 241, 241, 0.854);
    border-radius: 14px;
}

.team-card .card-body {
    padding: 22px 24px;
}

.champ-icon {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.08);
    border: 2px solid rgba(0, 0, 0, 0.25);
    gap: 10px;
    padding: 1px;
}

.team-card h5 {
    color: #ffffff;
    font-size: 1.5rem;
    letter-spacing: 0.02em;
}

.team-badge {
    background: rgba(255, 255, 255, 0.14);
    color: rgba(0, 0, 0, 0.9);
    font-weight: 450;
}

.team-upvotes,
.time-posted {
    color: rgba(255, 255, 255, 0.8);
}

.see-all-teams .bi {
    color: #dcc659;
    font-size: 1.5rem;
}

.see-all-teams {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
}

.see-all-teams span:hover {
    color: #e6e0e0;
}

.see-all-teams:hover {
    transition: transform 0.4s ease;
    transform: translateX(6px);
}

/* Champions Section */
.champs-section {
    background-image:
        linear-gradient(to bottom,
            rgba(31, 42, 68, 0.85) 0%,
            rgba(31, 42, 68, 0.85) 10%,
            rgba(31, 42, 68, 1) 100%),
        url("../images/background-1.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.champ-card {
    max-width: 250px;
    margin: 0 auto;
}

.champ-card .champ-icon {
    width: 150px;
    height: 150px;
    margin: 0 auto 12px;
    border-radius: 0;
    background-color: #1C1F24;
}

.champ-card .card-body {
    padding: 14px;
}

.champ-card h5 {
    color: #ffffff;
    font-size: 1.5rem;
    letter-spacing: 0.02em;
}

.team-card-link {
    text-decoration: none;
}

.champ-card {
    transition: transform 0.25s ease;
}

.team-card-link:hover .champ-card {
    transform: scale(1.05);
}

.team-card-link:hover h5 {
    color: #e6e0e0;
}

.role-subtext {
  font-size: 0.9rem !important;
  color: rgb(162, 162, 162) !important;
  margin-top: -4px !important;
}

.role-subtext-num {
  font-size: 0.9rem !important;
  color: rgb(227, 223, 117) !important;
  margin-top: 7px !important;
  margin-bottom: 20px !important;
  font-weight: 500;
}

/* Items section */
.items-section {
    background-color: #151e34;
    border-top: 3px solid rgba(255, 255, 255, 0.071);
}

/* Builds section */
