<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EQLoL - League of Legends Team Builder</title>
    <link rel="icon" href="images/favicon.jpeg" type="image/jpeg">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <!-- Icons library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/stylesheet.css">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark flex-column" style="padding-top: 0; padding-bottom: 0;">
        <!-- top row: web app name -->
        <div class="container-fluid bg-black justify-content-start">
            <a class="navbar-brand fw-bold gradient-text" href="index.html">
                <img src="images/favicon.jpeg" width="32" height="32" class="me-2">
                EQLoL
            </a>
        </div>
    </nav>
    <nav class="navbar-bottom navbar-expand-lg navbar-dark flex-column sticky-top"
        style="padding-top: 0; padding-bottom: 0;">
        <!-- bottom row: options (Home, Teams, Champions, Items, Builds, Team Builder) -->
        <div class="container-fluid bg-dark py-2 sticky-top">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Teams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Champions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Items</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Builds</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="team_builder.html">Team Builder</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container py-5">
        <div class="build-container mx-auto">
            <h1>League of Legends Team Builder</h1>
            <form id="create-team-form">


                <section class="mt-4">
                    <div class="form-section">
                        <h2 class="form-title">Team <span class="form-span">(required)</span></h2>

                        <div class="form-body">
                            <label class="form-label" for="team_name">Team Name:</label>
                            <input class="form-control" id="team_name" name="team_name" placeholder="Enter team name"
                                required />

                            <label class="form-label mt-4" for="game_mode">Game Mode:</label>
                            <select class="form-select" id="game_mode" name="game_mode" required>
                                <option value="normal">Normal</option>
                                <option value="ranked">Ranked</option>
                                <option value="aram">ARAM</option>
                            </select>
                        </div>
                    </div>

                </section>


                <section class="mt-4">
                    <div class="form-section">
                        <h2 class="form-title">Champions & Builds <span class="form-span">(required)</span></h2>

                        <div class="form-body">
                            <div class="row text-center justify-content-center g-4">

                                <!-- Champion 1 -->
                                <div class="col-6 col-md-2">

                                    <!-- Select Champion -->
                                    <label class="form-label mt-4" for="champ1">Champion:</label>
                                    <select class="form-select" id="champ1" name="champ1" required>
                                        <option value="" disabled selected hidden>Select champion</option>
                                        <option value="amumu">Amumu</option>
                                        <option value="ashe">Ashe</option>
                                        <option value="blitzcrank">Blitzcrank</option>
                                        <option value="camille">Camille</option>
                                        <option value="darius">Darius</option>
                                        <option value="jinx">Jinx</option>
                                        <option value="lux">Lux</option>
                                        <option value="miss_fortune">Miss Fortune</option>
                                        <option value="morgana">Morgana</option>
                                        <option value="pyke">Pyke</option>
                                        <option value="ryze">Ryze</option>
                                        <option value="samira">Samira</option>
                                        <option value="shen">Shen</option>
                                        <option value="teemo">Teemo</option>
                                        <option value="viego">Viego</option>
                                        <option value="yasuo">Yasuo</option>
                                        <option value="yunara">Yunara</option>
                                        <option value="zaahen">Zaahen</option>
                                        <option value="zyra">Zyra</option>
                                    </select>


                                    <!-- Select Build Items (3) -->
                                    <label class="form-label mt-4" for="build1">Build:</label>
                                    <select class="form-select" id="build1Item1" name="build1Item1" required>
                                        <option value="" disabled selected hidden>Select item 1</option>
                                        <option value="bork">Blade of the Ruined King</option>
                                        <option value="celestial_opposition">Celestial Opposition</option>
                                        <option value="kraken_slayer">Kraken Slayer</option>
                                        <option value="nashors_tooth">Nashors Tooth</option>
                                        <option value="steraks_gage">Steraks Gage</option>
                                        <option value="trinity_force">Trinity Force</option>
                                        <option value="void_staff">Void Staff</option>
                                    </select>
                                    <select class="form-select mt-3" id="build1Item2" name="build1Item2" required>
                                        <option value="" disabled selected hidden>Select item 2</option>
                                        <option value="bork">Blade of the Ruined King</option>
                                        <option value="celestial_opposition">Celestial Opposition</option>
                                        <option value="kraken_slayer">Kraken Slayer</option>
                                        <option value="nashors_tooth">Nashors Tooth</option>
                                        <option value="steraks_gage">Steraks Gage</option>
                                        <option value="trinity_force">Trinity Force</option>
                                        <option value="void_staff">Void Staff</option>
                                    </select>
                                    <select class="form-select mt-3" id="build1Item3" name="build1Item3" required>
                                        <option value="" disabled selected hidden>Select item 3</option>
                                        <option value="bork">Blade of the Ruined King</option>
                                        <option value="celestial_opposition">Celestial Opposition</option>
                                        <option value="kraken_slayer">Kraken Slayer</option>
                                        <option value="nashors_tooth">Nashors Tooth</option>
                                        <option value="steraks_gage">Steraks Gage</option>
                                        <option value="trinity_force">Trinity Force</option>
                                        <option value="void_staff">Void Staff</option>
                                    </select>

                                    <!-- Select rune (1) -->
                                    <label class="form-label mt-4" for="rune1">Rune:</label>
                                    <select class="form-select" id="rune1" name="rune1" required>
                                        <option value="" disabled selected hidden>Select rune</option>
                                        <option value="Conqueror_rune">Conqueror</option>
                                        <option value="Hails_of_Blades_rune">Hails of Blade</option>
                                        <option value="Lethal_Tempo_rune">Lethal Tempo</option>
                                        <option value="Press_the_Attack_rune">Press the Attack</option>
                                    </select>
                                </div>


                                <!-- Champion 2 -->
                                <div class="col-6 col-md-2">

                                    <!-- Select Champion -->
                                    <label class="form-label mt-4" for="champ2">Champion:</label>
                                    <select class="form-select" id="champ2" name="champ2" required>
                                        <option value="" disabled selected hidden>Select champion</option>
                                        <option value="amumu">Amumu</option>
                                        <option value="ashe">Ashe</option>
                                        <option value="blitzcrank">Blitzcrank</option>
                                        <option value="camille">Camille</option>
                                        <option value="darius">Darius</option>
                                        <option value="jinx">Jinx</option>
                                        <option value="lux">Lux</option>
                                        <option value="miss_fortune">Miss Fortune</option>
                                        <option value="morgana">Morgana</option>
                                        <option value="pyke">Pyke</option>
                                        <option value="ryze">Ryze</option>
                                        <option value="samira">Samira</option>
                                        <option value="shen">Shen</option>
                                        <option value="teemo">Teemo</option>
                                        <option value="viego">Viego</option>
                                        <option value="yasuo">Yasuo</option>
                                        <option value="yunara">Yunara</option>
                                        <option value="zaahen">Zaahen</option>
                                        <option value="zyra">Zyra</option>
                                    </select>


                                    <!-- Select Build Items (3) -->
                                    <label class="form-label mt-4" for="build2">Build:</label>
                                    <select class="form-select" id="build2Item1" name="build2Item1" required>
                                        <option value="" disabled selected hidden>Select item 1</option>
                                        <option value="bork">Blade of the Ruined King</option>
                                        <option value="celestial_opposition">Celestial Opposition</option>
                                        <option value="kraken_slayer">Kraken Slayer</option>
                                        <option value="nashors_tooth">Nashors Tooth</option>
                                        <option value="steraks_gage">Steraks Gage</option>
                                        <option value="trinity_force">Trinity Force</option>
                                        <option value="void_staff">Void Staff</option>
                                    </select>
                                    <select class="form-select mt-3" id="build2Item2" name="build2Item2" required>
                                        <option value="" disabled selected hidden>Select item 2</option>
                                        <option value="bork">Blade of the Ruined King</option>
                                        <option value="celestial_opposition">Celestial Opposition</option>
                                        <option value="kraken_slayer">Kraken Slayer</option>
                                        <option value="nashors_tooth">Nashors Tooth</option>
                                        <option value="steraks_gage">Steraks Gage</option>
                                        <option value="trinity_force">Trinity Force</option>
                                        <option value="void_staff">Void Staff</option>
                                    </select>
                                    <select class="form-select mt-3" id="build2Item3" name="build2Item3" required>
                                        <option value="" disabled selected hidden>Select item 3</option>
                                        <option value="bork">Blade of the Ruined King</option>
                                        <option value="celestial_opposition">Celestial Opposition</option>
                                        <option value="kraken_slayer">Kraken Slayer</option>
                                        <option value="nashors_tooth">Nashors Tooth</option>
                                        <option value="steraks_gage">Steraks Gage</option>
                                        <option value="trinity_force">Trinity Force</option>
                                        <option value="void_staff">Void Staff</option>
                                    </select>

                                    <!-- Select rune (1) -->
                                    <label class="form-label mt-4" for="rune2">Rune:</label>
                                    <select class="form-select" id="rune2" name="rune2" required>
                                        <option value="" disabled selected hidden>Select rune</option>
                                        <option value="Conqueror_rune">Conqueror</option>
                                        <option value="Hails_of_Blades_rune">Hails of Blade</option>
                                        <option value="Lethal_Tempo_rune">Lethal Tempo</option>
                                        <option value="Press_the_Attack_rune">Press the Attack</option>
                                    </select>
                                </div>


                                <!-- Champion 3 -->
                                <div class="col-6 col-md-2">

                                    <!-- Select Champion -->
                                    <label class="form-label mt-4" for="champ3">Champion:</label>
                                    <select class="form-select" id="champ3" name="champ3" required>
                                        <option value="" disabled selected hidden>Select champion</option>
                                        <option value="amumu">Amumu</option>
                                        <option value="ashe">Ashe</option>
                                        <option value="blitzcrank">Blitzcrank</option>
                                        <option value="camille">Camille</option>
                                        <option value="darius">Darius</option>
                                        <option value="jinx">Jinx</option>
                                        <option value="lux">Lux</option>
                                        <option value="miss_fortune">Miss Fortune</option>
                                        <option value="morgana">Morgana</option>
                                        <option value="pyke">Pyke</option>
                                        <option value="ryze">Ryze</option>
                                        <option value="samira">Samira</option>
                                        <option value="shen">Shen</option>
                                        <option value="teemo">Teemo</option>
                                        <option value="viego">Viego</option>
                                        <option value="yasuo">Yasuo</option>
                                        <option value="yunara">Yunara</option>
                                        <option value="zaahen">Zaahen</option>
                                        <option value="zyra">Zyra</option>
                                    </select>


                                    <!-- Select Build Items (3) -->
                                    <label class="form-label mt-4" for="build3">Build:</label>
                                    <select class="form-select" id="build3Item1" name="build3Item1" required>
                                        <option value="" disabled selected hidden>Select item 1</option>
                                        <option value="bork">Blade of the Ruined King</option>
                                        <option value="celestial_opposition">Celestial Opposition</option>
                                        <option value="kraken_slayer">Kraken Slayer</option>
                                        <option value="nashors_tooth">Nashors Tooth</option>
                                        <option value="steraks_gage">Steraks Gage</option>
                                        <option value="trinity_force">Trinity Force</option>
                                        <option value="void_staff">Void Staff</option>
                                    </select>
                                    <select class="form-select mt-3" id="build3Item2" name="build3Item2" required>
                                        <option value="" disabled selected hidden>Select item 2</option>
                                        <option value="bork">Blade of the Ruined King</option>
                                        <option value="celestial_opposition">Celestial Opposition</option>
                                        <option value="kraken_slayer">Kraken Slayer</option>
                                        <option value="nashors_tooth">Nashors Tooth</option>
                                        <option value="steraks_gage">Steraks Gage</option>
                                        <option value="trinity_force">Trinity Force</option>
                                        <option value="void_staff">Void Staff</option>
                                    </select>
                                    <select class="form-select mt-3" id="build3Item3" name="build3Item3" required>
                                        <option value="" disabled selected hidden>Select item 3</option>
                                        <option value="bork">Blade of the Ruined King</option>
                                        <option value="celestial_opposition">Celestial Opposition</option>
                                        <option value="kraken_slayer">Kraken Slayer</option>
                                        <option value="nashors_tooth">Nashors Tooth</option>
                                        <option value="steraks_gage">Steraks Gage</option>
                                        <option value="trinity_force">Trinity Force</option>
                                        <option value="void_staff">Void Staff</option>
                                    </select>

                                    <!-- Select rune (1) -->
                                    <label class="form-label mt-4" for="rune3">Rune:</label>
                                    <select class="form-select" id="rune3" name="rune3" required>
                                        <option value="" disabled selected hidden>Select rune</option>
                                        <option value="Conqueror_rune">Conqueror</option>
                                        <option value="Hails_of_Blades_rune">Hails of Blade</option>
                                        <option value="Lethal_Tempo_rune">Lethal Tempo</option>
                                        <option value="Press_the_Attack_rune">Press the Attack</option>
                                    </select>
                                </div>


                                <!-- Champion 4 -->
                                <div class="col-6 col-md-2">

                                    <!-- Select Champion -->
                                    <label class="form-label mt-4" for="champ4">Champion:</label>
                                    <select class="form-select" id="champ4" name="champ4" required>
                                        <option value="" disabled selected hidden>Select champion</option>
                                        <option value="amumu">Amumu</option>
                                        <option value="ashe">Ashe</option>
                                        <option value="blitzcrank">Blitzcrank</option>
                                        <option value="camille">Camille</option>
                                        <option value="darius">Darius</option>
                                        <option value="jinx">Jinx</option>
                                        <option value="lux">Lux</option>
                                        <option value="miss_fortune">Miss Fortune</option>
                                        <option value="morgana">Morgana</option>
                                        <option value="pyke">Pyke</option>
                                        <option value="ryze">Ryze</option>
                                        <option value="samira">Samira</option>
                                        <option value="shen">Shen</option>
                                        <option value="teemo">Teemo</option>
                                        <option value="viego">Viego</option>
                                        <option value="yasuo">Yasuo</option>
                                        <option value="yunara">Yunara</option>
                                        <option value="zaahen">Zaahen</option>
                                        <option value="zyra">Zyra</option>
                                    </select>


                                    <!-- Select Build Items (3) -->
                                    <label class="form-label mt-4" for="build4">Build:</label>
                                    <select class="form-select" id="build4Item1" name="build4Item1" required>
                                        <option value="" disabled selected hidden>Select item 1</option>
                                        <option value="bork">Blade of the Ruined King</option>
                                        <option value="celestial_opposition">Celestial Opposition</option>
                                        <option value="kraken_slayer">Kraken Slayer</option>
                                        <option value="nashors_tooth">Nashors Tooth</option>
                                        <option value="steraks_gage">Steraks Gage</option>
                                        <option value="trinity_force">Trinity Force</option>
                                        <option value="void_staff">Void Staff</option>
                                    </select>
                                    <select class="form-select mt-3" id="build4Item2" name="build4Item2" required>
                                        <option value="" disabled selected hidden>Select item 2</option>
                                        <option value="bork">Blade of the Ruined King</option>
                                        <option value="celestial_opposition">Celestial Opposition</option>
                                        <option value="kraken_slayer">Kraken Slayer</option>
                                        <option value="nashors_tooth">Nashors Tooth</option>
                                        <option value="steraks_gage">Steraks Gage</option>
                                        <option value="trinity_force">Trinity Force</option>
                                        <option value="void_staff">Void Staff</option>
                                    </select>
                                    <select class="form-select mt-3" id="build4Item3" name="build4Item3" required>
                                        <option value="" disabled selected hidden>Select item 3</option>
                                        <option value="bork">Blade of the Ruined King</option>
                                        <option value="celestial_opposition">Celestial Opposition</option>
                                        <option value="kraken_slayer">Kraken Slayer</option>
                                        <option value="nashors_tooth">Nashors Tooth</option>
                                        <option value="steraks_gage">Steraks Gage</option>
                                        <option value="trinity_force">Trinity Force</option>
                                        <option value="void_staff">Void Staff</option>
                                    </select>

                                    <!-- Select rune (1) -->
                                    <label class="form-label mt-4" for="rune4">Rune:</label>
                                    <select class="form-select" id="rune4" name="rune4" required>
                                        <option value="" disabled selected hidden>Select rune</option>
                                        <option value="Conqueror_rune">Conqueror</option>
                                        <option value="Hails_of_Blades_rune">Hails of Blade</option>
                                        <option value="Lethal_Tempo_rune">Lethal Tempo</option>
                                        <option value="Press_the_Attack_rune">Press the Attack</option>
                                    </select>
                                </div>

                                <!-- Champion 5 -->
                                <div class="col-6 col-md-2">

                                    <!-- Select Champion -->
                                    <label class="form-label mt-4" for="champ5">Champion:</label>
                                    <select class="form-select" id="champ5" name="champ5" required>
                                        <option value="" disabled selected hidden>Select champion</option>
                                        <option value="amumu">Amumu</option>
                                        <option value="ashe">Ashe</option>
                                        <option value="blitzcrank">Blitzcrank</option>
                                        <option value="camille">Camille</option>
                                        <option value="darius">Darius</option>
                                        <option value="jinx">Jinx</option>
                                        <option value="lux">Lux</option>
                                        <option value="miss_fortune">Miss Fortune</option>
                                        <option value="morgana">Morgana</option>
                                        <option value="pyke">Pyke</option>
                                        <option value="ryze">Ryze</option>
                                        <option value="samira">Samira</option>
                                        <option value="shen">Shen</option>
                                        <option value="teemo">Teemo</option>
                                        <option value="viego">Viego</option>
                                        <option value="yasuo">Yasuo</option>
                                        <option value="yunara">Yunara</option>
                                        <option value="zaahen">Zaahen</option>
                                        <option value="zyra">Zyra</option>
                                    </select>


                                    <!-- Select Build Items (3) -->
                                    <label class="form-label mt-4" for="build5">Build:</label>
                                    <select class="form-select" id="build5Item1" name="build5Item1" required>
                                        <option value="" disabled selected hidden>Select item 1</option>
                                        <option value="bork">Blade of the Ruined King</option>
                                        <option value="celestial_opposition">Celestial Opposition</option>
                                        <option value="kraken_slayer">Kraken Slayer</option>
                                        <option value="nashors_tooth">Nashors Tooth</option>
                                        <option value="steraks_gage">Steraks Gage</option>
                                        <option value="trinity_force">Trinity Force</option>
                                        <option value="void_staff">Void Staff</option>
                                    </select>
                                    <select class="form-select mt-3" id="build5Item2" name="build5Item2" required>
                                        <option value="" disabled selected hidden>Select item 2</option>
                                        <option value="bork">Blade of the Ruined King</option>
                                        <option value="celestial_opposition">Celestial Opposition</option>
                                        <option value="kraken_slayer">Kraken Slayer</option>
                                        <option value="nashors_tooth">Nashors Tooth</option>
                                        <option value="steraks_gage">Steraks Gage</option>
                                        <option value="trinity_force">Trinity Force</option>
                                        <option value="void_staff">Void Staff</option>
                                    </select>
                                    <select class="form-select mt-3" id="build5Item3" name="build5Item3" required>
                                        <option value="" disabled selected hidden>Select item 3</option>
                                        <option value="bork">Blade of the Ruined King</option>
                                        <option value="celestial_opposition">Celestial Opposition</option>
                                        <option value="kraken_slayer">Kraken Slayer</option>
                                        <option value="nashors_tooth">Nashors Tooth</option>
                                        <option value="steraks_gage">Steraks Gage</option>
                                        <option value="trinity_force">Trinity Force</option>
                                        <option value="void_staff">Void Staff</option>
                                    </select>

                                    <!-- Select rune (1) -->
                                    <label class="form-label mt-4" for="rune5">Rune:</label>
                                    <select class="form-select" id="rune5" name="rune5" required>
                                        <option value="" disabled selected hidden>Select rune</option>
                                        <option value="Conqueror_rune">Conqueror</option>
                                        <option value="Hails_of_Blades_rune">Hails of Blade</option>
                                        <option value="Lethal_Tempo_rune">Lethal Tempo</option>
                                        <option value="Press_the_Attack_rune">Press the Attack</option>
                                    </select>
                                </div>

                            </div>

                        </div>
                    </div>
                </section>


                <section class="mt-4">
                    <div class="form-section">
                        <h2 class="form-title">Guide <span class="form-span">(optional)</span></h2>

                        <div class="form-body">
                            <textarea class="form-control" id="team-guide" name="team_guide" rows="6"
                                placeholder="Enter your guide, tips, and information on how to use your team here."></textarea>
                        </div>
                    </div>
                </section>


                <section class="mt-4">
                    <div class="form-section">
                        <h2 class="form-title">Post Protection <span class="form-span">(required)</span></h2>

                        <!-- Password tip -->
                        <div class="mt-2">
                            <button type="button" class="btn btn-link p-0" id="passwordHelp" onclick="showHideHelp()">
                                Why do I need a password?
                            </button>
                        </div>
                        <div id="passwordHelpText" class="password-help form-text"
                            style="visibility: hidden; color: white;">
                            Create a password to protect your post so you can edit or delete it later.
                        </div>


                        <div class="form-body">
                            <label class="form-label" for="post_password">Password:</label>
                            <input class="form-control" type="password" name="post_password" id="post_password"
                                minlength="8" maxlength="20" placeholder="8-20 characters" required>

                            <!-- Confirm password -->
                            <label class="form-label mt-4" for="confirm_password">Confirm Password:</label>
                            <input class="form-control" type="password" name="confirm_password" id="confirm_password"
                                minlength="8" maxlength="20" placeholder="Re-type password" required>
                        </div>
                    </div>
                </section>

                <div class="text-center">
                    <button type="submit"
                        class="form-btn text-center btn btn-lg btn-warning fw-bold text-uppercase mt-4"> SAVE
                        TEAM
                    </button>
                </div>
            </form>
        </div>
    </div>


    <!-- Footer -->
    <footer class="text-center p-3 bg-black" style="font-size: 0.9rem; color:#aeaeae;">
        © 2026 EQLoL: League of Legends Team Builder ·
        <a href="#" style="color:#aeaeae; text-decoration:none;">About</a>
    </footer>


    <!-- Bootstrap Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous">
        </script>

    <script>
        const helpText = document.getElementById("passwordHelpText");

        // Toggle visibility for password help text.
        function showHideHelp() {
            if (helpText.style.visibility === "hidden") {
                helpText.style.visibility = "visible"
            } else {
                helpText.style.visibility = "hidden"
            }
        }
    </script>

</body>

</html>